.price-product-component {
    margin-bottom: 25px;
    .price-product {
        margin-bottom: 5px;
    }
    .price-product, .price-parcels {
        font-size: 22px;
        display: block;
    }
}