// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bag-name: 'bag';
$bag-x: 0px;
$bag-y: 0px;
$bag-offset-x: 0px;
$bag-offset-y: 0px;
$bag-width: 18px;
$bag-height: 16px;
$bag-total-width: 42px;
$bag-total-height: 31px;
$bag-image: '/arquivos/sprite.png';
$bag: (0px, 0px, 0px, 0px, 18px, 16px, 42px, 31px, '/arquivos/sprite.png', 'bag', );
$heart-name: 'heart';
$heart-x: 18px;
$heart-y: 0px;
$heart-offset-x: -18px;
$heart-offset-y: 0px;
$heart-width: 15px;
$heart-height: 15px;
$heart-total-width: 42px;
$heart-total-height: 31px;
$heart-image: '/arquivos/sprite.png';
$heart: (18px, 0px, -18px, 0px, 15px, 15px, 42px, 31px, '/arquivos/sprite.png', 'heart', );
$login-name: 'login';
$login-x: 33px;
$login-y: 0px;
$login-offset-x: -33px;
$login-offset-y: 0px;
$login-width: 9px;
$login-height: 16px;
$login-total-width: 42px;
$login-total-height: 31px;
$login-image: '/arquivos/sprite.png';
$login: (33px, 0px, -33px, 0px, 9px, 16px, 42px, 31px, '/arquivos/sprite.png', 'login', );
$search-name: 'search';
$search-x: 0px;
$search-y: 16px;
$search-offset-x: 0px;
$search-offset-y: -16px;
$search-width: 15px;
$search-height: 15px;
$search-total-width: 42px;
$search-total-height: 31px;
$search-image: '/arquivos/sprite.png';
$search: (0px, 16px, 0px, -16px, 15px, 15px, 42px, 31px, '/arquivos/sprite.png', 'search', );
$spritesheet-width: 42px;
$spritesheet-height: 31px;
$spritesheet-image: '/arquivos/sprite.png';
$spritesheet-sprites: ($bag, $heart, $login, $search, );
$spritesheet: (42px, 31px, '/arquivos/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
