@font-face {
    font-family: "Gill Sans W04_n3";
    src: url("//www.intimissimi.com.br/arquivos/c575cf0c-7e15-4f49-913a-af4676e20343.eot.css?#iefix") format("eot")
}

@font-face {
    font-family: "Gill Sans W04";
    src: url("//www.intimissimi.com.br/arquivos/c575cf0c-7e15-4f49-913a-af4676e20343.eot.css?#iefix");
    src: url("//www.intimissimi.com.br/arquivos/c575cf0c-7e15-4f49-913a-af4676e20343.eot.css?#iefix") format("eot"), url("//www.intimissimi.com.br/arquivos/a5dcf2a7-92c3-402b-8233-9da23c2af1c1.woff2.css") format("woff2"), url("//www.intimissimi.com.br/arquivos/39ede25d-544d-4537-8668-3e9af68a26ec.woff.css") format("woff"), url("//www.intimissimi.com.br/arquivos/fe7e264f-3a4a-40c8-85eb-f9e2cb4b6f21.ttf.css") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gill Sans W01 Book_n2";
    src: url("//www.intimissimi.com.br/arquivos/2cebe80c-b289-4ae0-a3b0-baa82c6c6e10.eot.css?#iefix") format("eot")
}

@font-face {
    font-family: "Gill Sans W01 Book";
    src: url("//www.intimissimi.com.br/arquivos/2cebe80c-b289-4ae0-a3b0-baa82c6c6e10.eot.css?#iefix");
    src: url("//www.intimissimi.com.br/arquivos/2cebe80c-b289-4ae0-a3b0-baa82c6c6e10.eot.css?#iefix") format("eot"), url("//www.intimissimi.com.br/arquivos/51318b0e-57fc-4136-b7d1-46aee6c2b565.woff2.css") format("woff2"), url("//www.intimissimi.com.br/arquivos/2bc69477-90c2-4415-a51f-36e36eee3d5e.woff.css") format("woff"), url("//www.intimissimi.com.br/arquivos/33447d8d-d920-48e7-b0a9-1d3dda80d6a6.ttf.css") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "GillSansW01-BookItalic_i2";
    src: url("//www.intimissimi.com.br/arquivos/43bc65b5-0f61-40a9-9ec4-469038e8c1f2.eot.css?#iefix") format("eot")
}

@font-face {
    font-family: "GillSansW01-BookItalic";
    src: url("//www.intimissimi.com.br/arquivos/43bc65b5-0f61-40a9-9ec4-469038e8c1f2.eot.css?#iefix");
    src: url("//www.intimissimi.com.br/arquivos/43bc65b5-0f61-40a9-9ec4-469038e8c1f2.eot.css?#iefix") format("eot"), url("//www.intimissimi.com.br/arquivos/26c330ee-d1db-484c-9a72-4cba86aba8e5.woff2.css") format("woff2"), url("//www.intimissimi.com.br/arquivos/8d3f1c3a-e26d-4dd7-ac5b-4b0bc68dccaa.woff.css") format("woff"), url("//www.intimissimi.com.br/arquivos/3d012c73-3418-43c1-8252-3d65991a551a.ttf.css") format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Gill Sans W10_n2";
    src: url("//www.intimissimi.com.br/arquivos/c15f85df-0e92-4a69-b0e9-f365cbaf19a2.eot.css?#iefix") format("eot")
}

@font-face {
    font-family: "Gill Sans W10";
    src: url("//www.intimissimi.com.br/arquivos/c15f85df-0e92-4a69-b0e9-f365cbaf19a2.eot.css?#iefix");
    src: url("//www.intimissimi.com.br/arquivos/c15f85df-0e92-4a69-b0e9-f365cbaf19a2.eot.css?#iefix") format("eot"), url("//www.intimissimi.com.br/arquivos/12f1f50a-41e6-476e-880f-0a2e13eeb5fa.woff2.css") format("woff2"), url("//www.intimissimi.com.br/arquivos/d0110e4d-8197-4ab8-803f-66f55e2a2dcc.woff.css") format("woff"), url("//www.intimissimi.com.br/arquivos/f33c142a-4b49-4401-8008-3af8864d5352.ttf.css") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Gill Sans W10_n5";
    src: url("//www.intimissimi.com.br/arquivos/532b216c-8cb5-4eb9-bf40-2976bb2797c3.eot.css?#iefix") format("eot")
}

@font-face {
    font-family: "Gill Sans W10";
    src: url("//www.intimissimi.com.br/arquivos/532b216c-8cb5-4eb9-bf40-2976bb2797c3.eot.css?#iefix");
    src: url("//www.intimissimi.com.br/arquivos/532b216c-8cb5-4eb9-bf40-2976bb2797c3.eot.css?#iefix") format("eot"), url("//www.intimissimi.com.br/arquivos/78440ad2-5480-469b-9325-c9be0c029558.woff2.css") format("woff2"), url("//www.intimissimi.com.br/arquivos/e1eb0b0b-1d4a-4c3a-9dcb-4899670a6274.woff.css") format("woff"), url("//www.intimissimi.com.br/arquivos/7240ec9f-bea0-4cfa-9cc7-a5667279d552.ttf.css") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gill Sans W01_n4";
    src: url("//www.intimissimi.com.br/arquivos/d45eb9d2-8c8e-402a-962f-9dc2e86940d3.eot.css?#iefix") format("eot")
}

@font-face {
    font-family: "Gill Sans W01";
    src: url("//www.intimissimi.com.br/arquivos/d45eb9d2-8c8e-402a-962f-9dc2e86940d3.eot.css?#iefix");
    src: url("//www.intimissimi.com.br/arquivos/d45eb9d2-8c8e-402a-962f-9dc2e86940d3.eot.css?#iefix") format("eot"), url("//www.intimissimi.com.br/arquivos/5190be62-f073-4c00-9ddd-574bf7e0d8ce.woff2.css") format("woff2"), url("//www.intimissimi.com.br/arquivos/6af9d33c-9fef-4ad8-8f08-a3f8d9b8a4f5.woff.css") format("woff"), url("//www.intimissimi.com.br/arquivos/be15b3d6-5cbe-41b7-9c49-f590f76f6d01.ttf.css") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gill Sans W01_i4";
    src: url("//www.intimissimi.com.br/arquivos/e80bc6f4-3766-4052-9813-23d00d5429bb.eot.css?#iefix") format("eot")
}

@font-face {
    font-family: "Gill Sans W01";
    src: url("//www.intimissimi.com.br/arquivos/e80bc6f4-3766-4052-9813-23d00d5429bb.eot.css?#iefix");
    src: url("//www.intimissimi.com.br/arquivos/e80bc6f4-3766-4052-9813-23d00d5429bb.eot.css?#iefix") format("eot"), url("//www.intimissimi.com.br/arquivos/5eef9ff4-6d6a-4bab-bfdd-da5b564d08cb.woff2.css") format("woff2"), url("//www.intimissimi.com.br/arquivos/98a4ebc6-9782-4fd4-ae19-38cf94b29980.woff.css") format("woff"), url("//www.intimissimi.com.br/arquivos/0ee543d5-e0bb-42bb-9e87-b3afdd4d72ad.ttf.css") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Gill Sans W01_n7";
    src: url("//www.intimissimi.com.br/arquivos/e86babf5-a289-429e-a08a-896d3ee359f0.eot.css?#iefix") format("eot")
}

@font-face {
    font-family: "Gill Sans W01";
    src: url("//www.intimissimi.com.br/arquivos/e86babf5-a289-429e-a08a-896d3ee359f0.eot.css?#iefix");
    src: url("//www.intimissimi.com.br/arquivos/e86babf5-a289-429e-a08a-896d3ee359f0.eot.css?#iefix") format("eot"), url("//www.intimissimi.com.br/arquivos/2f136c33-099d-4283-ba7f-dac082f1b58c.woff2.css") format("woff2"), url("//www.intimissimi.com.br/arquivos/fa387bda-a556-418d-a063-41b6f69d3c89.woff.css") format("woff"), url("//www.intimissimi.com.br/arquivos/2d072dd6-e1b8-47dd-ad51-2a15d9ee6d5b.ttf.css") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Trebuchet W01_n4";
    src: url("//www.intimissimi.com.br/arquivos/fbd0f791-870f-4f29-bbc3-9827434737a2.eot.css?#iefix") format("eot")
}

@font-face {
    font-family: "Trebuchet W01";
    src: url("//www.intimissimi.com.br/arquivos/fbd0f791-870f-4f29-bbc3-9827434737a2.eot.css?#iefix");
    src: url("//www.intimissimi.com.br/arquivos/fbd0f791-870f-4f29-bbc3-9827434737a2.eot.css?#iefix") format("eot"), url("//www.intimissimi.com.br/arquivos/f2c6415f-9bf2-4714-8c9e-98f1215e4f24.woff2.css") format("woff2"), url("//www.intimissimi.com.br/arquivos/2ce511de-aa95-4ce0-84ae-f462ece99bf7.woff.css") format("woff"), url("//www.intimissimi.com.br/arquivos/f108aafb-b2fc-400c-b3a3-fa358809a930.ttf.css") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Trebuchet W01_i4";
    src: url("//www.intimissimi.com.br/arquivos/4af729a0-6b04-421a-83a0-fecc6043f180.eot.css?#iefix") format("eot")
}

@font-face {
    font-family: "Trebuchet W01";
    src: url("//www.intimissimi.com.br/arquivos/4af729a0-6b04-421a-83a0-fecc6043f180.eot.css?#iefix");
    src: url("//www.intimissimi.com.br/arquivos/4af729a0-6b04-421a-83a0-fecc6043f180.eot.css?#iefix") format("eot"), url("//www.intimissimi.com.br/arquivos/b8b0b8f8-21f0-4355-9ab7-a99e6346956c.woff2.css") format("woff2"), url("//www.intimissimi.com.br/arquivos/02a11c6a-7116-4a68-b47e-baf0ba4674f2.woff.css") format("woff"), url("//www.intimissimi.com.br/arquivos/c518328a-8eeb-400f-b878-4dd0d30665d4.ttf.css") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Trebuchet W01_n7";
    src: url("//www.intimissimi.com.br/arquivos/e595739f-4994-4060-90ef-50e08d66509f.eot.css?#iefix") format("eot")
}

@font-face {
    font-family: "Trebuchet W01";
    src: url("//www.intimissimi.com.br/arquivos/e595739f-4994-4060-90ef-50e08d66509f.eot.css?#iefix");
    src: url("//www.intimissimi.com.br/arquivos/e595739f-4994-4060-90ef-50e08d66509f.eot.css?#iefix") format("eot"), url("//www.intimissimi.com.br/arquivos/e1159629-5a90-42ad-a16c-0f96081f739a.woff2.css") format("woff2"), url("//www.intimissimi.com.br/arquivos/00fba97c-0e4a-4093-8859-fcba467a7e95.woff.css") format("woff"), url("//www.intimissimi.com.br/arquivos/4c80d67e-fe7c-407b-a934-59134ad64cc7.ttf.css") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Trebuchet W01_i7";
    src: url("//www.intimissimi.com.br/arquivos/3752b8af-79d1-4507-97b0-2a3e2811b2b9.eot.css?#iefix") format("eot")
}

@font-face {
    font-family: "Trebuchet W01";
    src: url("//www.intimissimi.com.br/arquivos/3752b8af-79d1-4507-97b0-2a3e2811b2b9.eot.css?#iefix");
    src: url("//www.intimissimi.com.br/arquivos/3752b8af-79d1-4507-97b0-2a3e2811b2b9.eot.css?#iefix") format("eot"), url("//www.intimissimi.com.br/arquivos/b5647453-e522-4626-8354-33855c34c8ce.woff2.css") format("woff2"), url("//www.intimissimi.com.br/arquivos/2494768a-93cb-4150-85ea-e4bfdbbf8aba.woff.css") format("woff"), url("//www.intimissimi.com.br/arquivos/27417c3b-cd6c-4824-8844-24c2703974c0.ttf.css") format("truetype");
    font-weight: 700;
    font-style: italic;
}