.product-name-component {
    font-size: 14px;
    text-transform: uppercase;
    color: #3f4444;
    line-height: 20px;
    margin-top: 20px;
    min-height: 20px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    @media screen and(max-width:767px) {
        white-space: normal;
    }
}