.button-buy-component {
    button {
        display: block;
        width: 100%;
        font-size: 21px;
        background: #000;
        padding: 12px 0px;
        color: #FFF;
        border: none;
        cursor: pointer;
    }
}