.cards-banner-component {
    .banner-imagem {
        margin-bottom: 25px;
        border: 1px solid #dddddd;
        img {
            width: 100%;
        }
    }
    .text-description {
        text-align: center;
    }
    .description-banner {
        margin-bottom: 15px;
    }
    .button-cta {
        margin-bottom: 25px;
        &:hover {
            background: #000;
            color: #fff;
        }
    }
    @media screen and (max-width: 480px) {
        .box-banner-text {
            text-align: center;
        }
    }
}